p { page-break-before: always; }
 @font-face {
        font-family: Gentium;
        src: url(http://example.com/fonts/Gentium.otf);
    }

   @page {size: A3 landscape; }

   thead th {
  background-color: #DDEFEF;
  border: solid 1px solid black;
  color: #336B6B;
  /*padding: 30px;
     width: 10px;
         min-width:133px; change the value for whatever fits you better */

  text-align: center;
  vertical-align: middle;

    max-width: 150px;
    word-wrap:break-word
}
    table, tr, td {border: 1px solid black; word-wrap: break-word;}
    td {border: 1px solid black;
  word-wrap: break-word;
}